
<div class = "col-md-3">
  <h1>User info</h1>
  <%= image_tag current_user.get_profile_image(100,100) %>
  <table class = "table">
    <tr>
      <th>name</th>
      <td><%= current_user.name%></td>
    </tr>
    <tr>
      <th>introduction</th>
      <td><%= current_user.introduction %></td>
    </tr>
  </table>

  <!-- profile_edit_button -->
  <%= link_to edit_user_path(current_user.id), class:"btn btn-lg btn-block btn-light mt-4" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>

  <%= form_with model: book do |f| %>
    <h2>New book</h2>
    <p>Title</p>
    <%= f.text_field :title %>
    <p>Opinion</p>
    <%= f.text_area :body %>
    <%= f.submit 'Create Book', class:"btn btn-lg btn-success mt-4" %>
  <% end %>
</div>