<div class = "container px-5 px-sm-0">
  <div class = "row">
    <div class = "col-md-3">
      <h1>User info</h1>
      <%= image_tag @book.user.get_profile_image(100,100) %>
      <table class = "table">
        <tr>
          <th>name</th>
          <td><%= @book.user.name%></td>
        </tr>
        <tr>
          <th>introduction</th>
          <td><%= @book.user.introduction%></td>
        </tr>
      </table>
      <!-- profile編集button -->
          <%= link_to edit_user_path(@book.user_id), class:"btn btn-lg btn-block btn-light mt-4" do %>
            <i class="fas fa-user-cog"></i><!-- このユーザーページが自分の場合 -->
          <% end %>

      <%= form_with model: @book_new do |f| %>
        <h2>New book</h2>
        <p>Title</p>
        <%= f.text_field :title %><!--モデル名をもとにdbにアクセス -->
        <p>Opinion</p>
        <%= f.text_area :body %>
        <%= f.submit 'Create Book', class:"btn btn-lg btn-success mt-4" %>
      <% end %>
    </div>
    <div class = "col-md-8 offset-md-1">
      <h1>Book detail</h1>
      <table class = "table">
        <td>
          <%= link_to user_path(@book.user_id) do %>
            <%= image_tag @book.user.get_profile_image(100,100) %>
            <br /><%= @book.user.name %>
          <% end %>
        </td>
        <td><%= link_to @book.title, book_path(@book.id) %></td>
        <td><%= @book.body %></td>
        <% if @book.user_id == current_user.id %>
          <td><%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-lg btn-success mt-4" %></td>
          <td><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "Are you sure?", class:"btn btn-lg btn-block btn-danger mt-4" %></td>
        <% end %>
      </table>
    </div>
  </div>
</div>
